:root {
  /* 颜色相关 */
  --green: #57cc99;
  --pink: #ffafcc;
  --blue: #00b4d8;
  --dark: #00131d;
  --purple: #c8b6ff;
  --orange: #fdffb6;
  --gray: #f5f2f3;
  --white: #fefbfc;

  /* 主题样式 */
  --primary: #00a6fb;
  --secondary: #ece9ea;

  --radius: 4px;
  --transition: 200ms;
  --animate-duration: 0.2s;
}
