.system-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
}
.system-head {
	display: flex;
	line-height: 32px;
	justify-content: space-between;
	padding: 0 8px;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
}
