.msg-list {
	.avatar {
		$wh: 32px;
		width: $wh;
		height: $wh;
		min-width: $wh;
		background: #aaa;
		border-radius: var(--radius);
	}
	.msg {
		background: white;
		padding: 6px 8px;
		max-width: 80%;
		margin-top: 4px;
		white-space: pre-wrap;
		min-width: 90px;
		color: #333;
		width: fit-content;
		height: fit-content;
	}
	.user {
		flex-direction: row-reverse;
		.msg-item {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: right;
			text-align: right;
		}
	}
	.msg-item:hover {
		.actions {
			opacity: 1;
		}
	}
}
.actions {
	opacity: 0;
}
.system-icon {
	&:hover {
		background: #ddd;
	}
	margin-top: 4px;
}
